<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Sign up</h1>

    <pr-alert *ngIf="registrationFailed" type="danger" dismissible="false">
      Try again with another login.
    </pr-alert>

    <form (ngSubmit)="register()" [formGroup]="userForm">
      <div class="form-group">
        <label for="login" id="login-label" prFormLabel>Login</label>
        <input id="login" class="form-control" formControlName="login" />
        <div class="text-danger invalid-feedback" *ngIf="loginCtrl.dirty && loginCtrl.hasError('minlength')" id="login-length-error">
          Your login should be at least 3 characters
        </div>
        <div class="text-danger invalid-feedback" *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')" id="login-warning">Login is required</div>
      </div>

      <div formGroupName="passwordForm">
        <div class="form-group">
          <label for="password" prFormLabel>Password</label>
          <input id="password" class="form-control" type="password" formControlName="password" />
          <div class="text-danger invalid-feedback" *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Password is required</div>
        </div>

        <div class="form-group">
          <label for="confirmPassword" prFormLabel>Confirm password</label>
          <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword" />
          <div class="text-danger invalid-feedback" *ngIf="confirmPasswordCtrl.dirty && confirmPasswordCtrl.hasError('required')">
            Confirming password is required
          </div>
        </div>

        <div class="text-danger invalid-feedback" id="password-matching-error" *ngIf="userForm.controls.passwordForm.hasError('matchingError')">
          Your password does not match
        </div>
      </div>

      <div class="form-group">
        <label for="birthYear" prFormLabel>Birth year</label>
        <input id="birthYear" class="form-control" type="number" formControlName="birthYear" />
        <div class="text-danger invalid-feedback" *ngIf="birthYearCtrl.dirty && birthYearCtrl.hasError('required')">Birth year is required</div>
        <div id="invalid-year-error" class="text-danger" *ngIf="birthYearCtrl.dirty && !birthYearCtrl.valid">This is not a valid year</div>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Let's Go!</button>
    </form>
  </div>
</div>
